<div class="row">
    @* ini component text *@
    <div class="col-md-6 pt-5 pt-lg-0 d-flex justify-content-center flex-column order-0 order-2 order-lg-1">
        <h1>
            Continous Learning and Keep Up to Date
            <strong class="text-primary">Inixindo Bandung</strong>
        </h1>
        <div class="my-3">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus consequatur unde amet repellendus
            reiciendis molestias ex dicta eaque, voluptas autem? Reiciendis recusandae voluptatem eos quia facere rem
            quos totam dolore?
        </div>
        <div class="mt-4">
            <a class="btn btn-outline-primary" asp-controller="Employee" asp-action="Index">Get Started</a>
        </div>
    </div>

    @* component Hero *@
    <div class="col-lg-6 order-1 order-lg-2">
        <img src="~/images/banner.png" class="img-fluid animation">
    </div>
</div>